<div class="container">
  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card-panel">
        <h3 class="header left-align">ページを削除しました。</h3>
        <a href="/" class="waves-effect waves-light btn">一覧に戻る</a>
      </div>
    </div>
  </div>
</div>