<div class="container">
  <div class="row box">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card-panel dcard">
        <h4 class="header left-align">ページを削除しました。</h4>
        <%= link_to "一覧に戻る", shops_path,class: "left waves-effect waves-light btn #ffd600 yellow accent-4 right dbtn"%>
      </div>
    </div>
  </div>
</div>