<%= render "shared/header"%>
<div class = "main-box">
  <div class = "shops">
    <% @shops.each do |shop| %>
      <div class = "shops__text">
        <p class = "shops__text--name" ><%= shop.name %></p>
        <P class = "shops__text--intro" ><%= shop.text %></P> 
      </div>
      <p class = "shops__image" ><%= image_tag shop.image %></p>
    <%end%>
  </div>
</div>