<% breadcrumb :shop, @shop %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="container">
  <div class="row">
    <%= render "shared/shop"%>
  </div>
  <%= render "shared/sharering"%>
  <div class="row">
    <%= render "shared/recent-posts"%>
  </div>
</div>