<div class="row">
  <%= render "shared/shop"%>
  <%= render "shared/comments"%>
</div>
<div id="likes_buttons_<%= @shop.id %>">
 <%= render partial: 'shared/like', locals: { shop: @shop, likes: @likes} %>
</div>