<div class="col s12 m12 l5" style="padding-top: 50px;">
  <input id="pac-input" class="controls" type="text" placeholder="店名を入れて住所検索">
  <div id="map" style="max-width: 700px; height: 400px;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6GxRwG_nFSYMLRwIGde9C4_pI2uycmOk&libraries=places&callback=initAutocomplete"async defer></script>
