<div class="row">
  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s3">
          <%= image_tag @user.image.thumb, class: "circle responsive-img" %>
          <div class="flow-text"><%= @user.username%></div>
          <% if user_signed_in? %>
            <% if @user.id == current_user.id %>
              <span class="black-text">
                <% unless @user.email == "test@example.com"%>
                  <%= link_to "プロフィールを編集する", edit_user_registration_path(@user), method: :get %>
                <% end %>
              </span>
            <% end %>
          <% end %>
        </div>
        <div class="right col s6 fff">
          <%= render "follow_form" %>
        </div>
      </div>
    </div>
  </div>
</div>