<nav>
  <div class="nav-wrapper">
    <form>
      <%= form_tag shops_path, :method => 'get' do %>
       <div class="input-field">
          <%= search_field_tag :search, params[:search], id: "search" %>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </form>
  </div>
</nav>