<div id="test-swipe-1" class="col s12">
  <%= render "shared/gmap-show"%>
</div>
<div id="test-swipe-2" class="col s12">
  <div class="row">
    <%# コメント投稿 %>
    <% if user_signed_in? %>
      <div class="col s6 right">
        <%= render partial: 'shared/form-comment', locals: { comment: @comment, shop: @shop } %>
      </div>
    <% end %>
    <%# コメント一覧 %>
    <div class="col s12">
      <div class="comment-box">
        <div id="comments_area">
            <%= render partial: 'shared/comment-index', locals: { comments: @comments } %>
        </div>
      </div>
    </div>
  </div>
</div>