<div class="slider">
  <div class="slider-text flow-text">
    <h2>カフェ一覧</h2>
  </div>
  <ul class="slides">
      <% shops.each do |shop| %>
        <li>
          <%= image_tag shop.image, class: "slides-image" %>
          <%= link_to shop_path(shop), method: :get,class: "underline slides-text flow-text" do%>
            <%= shop.name %>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>

<script>
    $(document).ready(function(){
    $('.slider').slider({
      indicators: false
    });
  });
</script>