.balloon1 {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  width: 80%;
  min-height: 100px;
  color: #555;
  font-size: 16px;
  background: #f8f8ff;
  border-radius: 15px;
  overflow-wrap: break-word;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 18px;
  left: -20px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #f8f8ff;
}
