.search-box{
  height: 100%;
  padding-top: 30px;
}

.search-btn{
  margin: 0 0 0 10px;
  width: 100px;
}

.lists{
  display: inline!important;
  vertical-align: -5px;
}

.radiob{
  margin-left: 20px!important;
}

.search-form{
  padding-top: 9px!important;
}