.card-link{
  position: absolute;
  right: 0;
  bottom: 20px;
}

.card-user{
  min-width: 50px;
}

.card-title{
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px!important;
}

.edit-delete{
  position: absolute;
  right: 9px;
  bottom: 75px;
}

.a{
  position: absolute;
  top: 300px;
}