.underline:hover{
  text-decoration: underline;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(255,255,0,0.2) !important;
  outline: none;
}

.tab a{
  color: #ffd600 !important;
}

.tabs .indicator {
  background-color: #ffd600 !important;
} 

.container{
  min-height: 87vh;
}

.shadow-text{
  text-shadow: 1px 1px 2px gray;
}

.input-field input[type=text]:focus + label {
  color: #000!important;
}
.input-field input[type=text_area]:focus + label {
  color: #000!important;
}
.input-field textarea:focus + label {
  color: #000!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #ffdc00!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #ffdc00!important;
}
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffdc00!important;
  box-shadow: 0 1px 0 0 #ffdc00!important;
}

input[type=search]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #ffdc00!important;
  -webkit-box-shadow: 0 1px 0 0 #ffdc00!important;
  box-shadow: 0 1px 0 0 #ffdc00!important;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #ffdc00!important;
}

input.valid[type=text]:not(.browser-default){
  border-bottom: 1px solid #ffdc00!important;
  -webkit-box-shadow: 0 1px 0 0 #ffdc00!important;
  box-shadow: 0 1px 0 0 #ffdc00!important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #ffdc00!important;
  -webkit-box-shadow: 0 1px 0 0 #ffdc00!important;
  box-shadow: 0 1px 0 0 #ffdc00!important;
}

.card.large .card-image+.card-content {
  max-height: 85%!important;
}

.activator{
  object-fit: cover!important;
  height: 250px!important;
}

nav .brand-logo {
  font-size: 3.1rem!important;
  font-weight: bold!important;
  padding: 10px!important;
}