@import "./comment";
@import "./like";
@import "./image-icon";
@import "./search";
@import "./viable";
@import "./shops";
@import "./slider";
@import "./show-right";
@import "./gmap";
@import "./shop";
@import "./notifications";
@import "./top";
@import "./shops_new";
@import "./shops_destroy";
@import "./recent_posts";
@import "./follow_form";
@import "./notification";
@import "toastr";

@font-face{
  font-family: "komorebi-gothic";
  src: asset_url('komorebi-gothic-P.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "komorebi-gothic";
}
